*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------- ANIMAÇÕES ---------------------------  */

@keyframes slideLeft {
    to {
      left: 0; /* move para a posição superior 0 (dentro do contêiner) */
    }
  }

  @keyframes sliderBlur{
    to {
      filter: blur(0); /* move para a posição superior 0 (dentro do contêiner) */
    }
  }

  @keyframes downUp {
    0% {
       transform: translateY(0); /* move para a posição superior 0 (dentro do contêiner) */
    } 100% {
        transform: translateY(30px);
    }
  }

  /* ---------------------------------- CLASSES DE ANIMAÇÕES  --------------------------------*/

  .slider-left {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform:  translateX(-20px);
  }

  .slider-right {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform:  translateX(-20px);
  }
  
  .show {
    opacity: 1;
    transition: all 2s;
    filter: blur(0);
    transform:  translateX(0);
  }

  

body {
    background: linear-gradient(0deg, rgba(2,0,36,0.9501050420168067) 0%, #220b36 51%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    max-width: 100%;
}

/* ------------------------------------------ NAVEGAÇÃO CABEÇALHO ------------------------------- */

nav {
    width: 100%;
    height: 80px;
    background-color: #220b36;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

nav ul li {
        list-style: none;
        
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.5rem;
    transition:  ease-in-out 1s;
    width: 100px;
    height: 40px;
    text-align: center;
}

nav a:hover {
    color: #8f8d8d;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #220b36;
    transition:  ease-in-out 1s;
    border: #f9f9f9 1px solid;
    border-top: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a{
    display: block;
    font-size: 1.3rem;
    width: 100px;
}

/* ---------------------------------------- PRIMEIRA PARTE AREA DE APRESENTAÇÃO DO EVENTO  ------------------------*/

.primeira-pagina{
    height: 100vh;
    width: 100%;
    animation: sliderBlur 1.5s forwards;
    filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.title-event {
    font-size: 4rem;
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    font-family:cursive;  
    line-height: 3rem;
    animation:  downUp 3s  alternate infinite;
    transition: ease-in-out;
    
}

.title-event p {
    font-size: 1.5rem;
    font-family:  Verdana, sans-serif;
}

.box-patrocinio {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-patrocinio .realizacao {
    font-size: 1.8rem;
    color:#c5c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.realizadores {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
    text-transform: uppercase;
}

.realizadores img {
    width: 120px;
}



.imgelenco img {
    width: 100%;

}

/* ----------------------------------------- AREA VOLTADA PARA FICHA TECNICA  -------------------------------------*/


.segunda-pagina {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    
}


.segunda-pagina > h3 {
    color: #f8f8f8;
    font-size: 3rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.segunda-pagina p {
    font-size: 1.3rem;
    color: #c5c2c2;
}

.segunda-pagina p span {
    font-weight: bold;
    font-size: 1.3rem;
    color: #f9f9f9;
}


/* ------------------------------------- AREA VOLTADA PARA APRESENTÇÃO DA ORDEM */


.terceira-pagina {
    height: 100%;
    margin-bottom: 100px;
}

#primeira-sessao, #segunda-sessao {
    padding-top: 80px;
}

#galeria {
    padding-top: 100px;
}


.terceira-pagina .sequencia h5 {
    color: #f9f9f9;
    font-size: 2rem;
}

.sequencia  {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

}

.sequencia h5 {
    color: #f9f9f9;
    font-size: 2rem;
}


.sequencia p {
    color: #c5c2c2;
    font-size: 1rem;
}


.terceira-pagina h4 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #f9f9f9;
    margin-bottom: 20px;
}




/* --------------------------------------------------- TUDO QUE ENVOLVE A TAG DETAILS E SUMMARY  */

.detalhes {
    width: 90%;
    margin: 0 auto;
}




details {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-inline: 15px;
    border-radius: 5px;
    background-color: #481872;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    
}

details summary {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


details summary::-webkit-details-marker {
   display: none;
}

details summary img {
    width: 15px;
    height: 20px;
}

details img {
    margin-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 50%;
}

.release {
    color: #7a7777eb;
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: justify;
    width: 90%;
    
}

.ficha-tec-coreo {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #7a7777eb;
}

.ficha-tec-coreo span {
    font-size: 1.1rem;
    color: #f9f9f9;
}

.ficha-tec-coreo a {
    color: #cac2c2eb;

    text-decoration: underline;
}

.ficha-tec-coreo a:hover {
    transition: .5s ease-in-out;
    color: #f9f9f9;
    text-decoration: underline;
    transform: scale(1.2);
}




/* -------------------------------------------------------------------AREA DO FOOTER  */

footer {
    background-color: #2b1d44;
    height: 300px;
    
}

footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

footer .logos .logocia img {
    width: 70px;
    border-radius: 50%;
}

.logocia {
    
    width: 300px;
    
}


footer .logos .midias a {
    color: #f9f9f9;
    font-size: 2.5rem;
    margin-inline: 20px;
    transition: ease-in-out .5s;
}

footer .logos .midias a:hover {
    transform: scale(1.2);
}

footer .logos .midias {
   display: flex;
   width: 300px;
   justify-content: center;
}

footer .logos .realizadores {
    margin-top: 0px;
    width: 250px;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
    color: #c5c2c2;
    
}

footer p a {
    color: #f9f9f9;
    font-weight: bold ;
    text-decoration: none;
    font-size: 1.1rem;
    transition: ease-in-out 1s;
}

footer p a:hover {
    text-decoration: underline;
}



/* ------------------------------------------------ AJUSTES PARA O RESPONSIVO */

@media  (max-width: 600px) {

    .primeira-pagina{
        height: 100vh;
        margin-bottom: 0;
    }

    #galeria {
        padding-top: 80px;
    }

    #primeira-sessao, #segunda-sessao {
        padding-top: 0px;
    }

    
    .title-event {
        font-size: 2.7rem;
        height: 400px;
    }

    .title-event p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .box-patrocinio .realizadores{
        margin-top: 30px;
    }
    
    .box-patrocinio .realizacao {
        font-size: 1.3rem;
        
    }
    
    
    .realizadores p {
        font-size: .8rem;
    }
    

    .imgelenco {
        height: 35vh;
    }

    
   

    .segunda-pagina p {
        font-size: 1.1rem;
        
    }

    .segunda-pagina p span {
        font-size: 1.1rem;
    }

    .terceira-pagina .sequencia h5 {
        font-size: 1.4rem;
    }

    .sequencia p {
        font-size: .9rem;
    }


    
    
    details img {
        width: 100%;
    }

    footer {
        height: 320px;
    }


    
    footer .logos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    
    footer .logos .logocia img {
        width: 35px;
        border-radius: 50%;
        
    }
    
    .logocia {
        text-align: center;
        margin-bottom: 20px;
    }
    
    
    footer .logos .midias a {
        font-size: 2rem;
        margin-inline: 10px;
    }
    
    hr {
        margin-top: 15px;
    }
    
    footer .logos .midias {
       display: flex;
       width: 300px;
       justify-content: center;
       align-items: center;
       margin-bottom: 20px;
    }
    
    footer .logos .realizadores {
        margin-top: 0px;
        width: 200px;
    }

    footer .logos .realizadores img {
        width: 80px;
        margin-top: 0px;
    }

    hr {
        margin-bottom: 0px;
    }
    
    footer p {
        font-size: .7rem;
        margin-top: 15px;
    }
    
    footer p a {
        color: #f9f9f9;
        font-weight: bold ;
        text-decoration: none;
        font-size: .8rem;
        transition: ease-in-out 1s;
    }
    
    footer p a:hover {
        text-decoration: underline;
    }

}

/* ----------------------------------------- RESPONSIVIDADE PARA DISPOSITIVOS COM LARGURA DE 300PX E ALTURA DE 568PX  */


@media (min-width: 300px) and (max-height: 568px) {

    
    .primeira-pagina{
        height: 80vh;
        margin-bottom: 0px;
    }
    
    .primeira-pagina .title-logo {
        font-size: 1.8rem;
    }
    
    .primeira-pagina .sub-title {
        font-size: 1rem;
    }
    
    .title-event {
        font-size: 2rem;
        height: 250px;
    }
    
    .box-patrocinio {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 300px;
        
        
    }
    
    .box-patrocinio .realizacao {
        font-size: 1.3rem;
    }

    
    .realizadores img {
        width: 80px;
        
    }

    .imgelenco {
        height: 40vh;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .segunda-pagina {
        height: 100vh;
        margin-top: 60px;
    }
    
    
    .segunda-pagina > h3 {
        font-size: 2rem;
    }
    
    .segunda-pagina p {
        font-size: .9rem;
        color: #c5c2c2;
    }
    
    .segunda-pagina p span {
        font-size: .9rem;
    }

    .terceira-pagina {
        height: 100%;
        margin-top: 40px;
    }


    .terceira-pagina .sequencia h5 {
        font-size: 1.4rem;
    }

    .sequencia p {
        font-size: .9rem;
    }

    
    details img {
        width: 100%;
    }
    
}

