* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* -------------------------- ANIMAÇÕES ---------------------------  */

@keyframes slideLeft {
  to {
    left: 0; /* move para a posição superior 0 (dentro do contêiner) */
  }
}

@keyframes sliderBlur {
  to {
    filter: blur(0); /* move para a posição superior 0 (dentro do contêiner) */
  }
}

@keyframes downUp {
  0% {
    transform: translateY(
      0
    ); /* move para a posição superior 0 (dentro do contêiner) */
  }
  100% {
    transform: translateY(30px);
  }
}

/* ---------------------------------- CLASSES DE ANIMAÇÕES  --------------------------------*/

.slider-left {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-20px);
}

.slider-right {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-20px);
}

.show {
  opacity: 1;
  transition: all 2s;
  filter: blur(0);
  transform: translateX(0);
}

body {
  background-color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  max-width: 100%;
}

/* ----------------------------------------- AREA VOLTADA PARA FICHA TECNICA  -------------------------------------*/

.segunda-pagina {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.segunda-pagina > h3 {
  color: #f8f8f8;
  font-size: 3rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 30px;
}

.segunda-pagina p {
  font-size: 1.3rem;
  color: #c5c2c2;
  text-align: center;
}

.segunda-pagina p span {
  font-weight: bold;
  font-size: 1.3rem;
  color: #f9f9f9;
}

/* ------------------------------------- AREA VOLTADA PARA APRESENTÇÃO DA ORDEM */

#galeria {
  padding-top: 100px;
}

.sequencia {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.sequencia h5 {
  color: #f9f9f9;
  font-size: 2rem;
}

.sequencia p {
  color: #c5c2c2;
  font-size: 1rem;
}

/* --------------------------------------------------- TUDO QUE ENVOLVE A TAG DETAILS E SUMMARY  */

.indicador-scroll {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  animation: bounce 2s infinite;
  display: none;
}

.indicador-scroll h4 {
  font-size: 1.3rem;
  color: #c5c2c2;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translatex(0);
  }
  40% {
    transform: translatex(10px);
  }
  60% {
    transform: translatex(20px);
  }
}

/* -------------------------------------------------------------------AREA DO FOOTER  */

footer {
  background-color: #000;
  height: 320px;
  margin-top: 40px;
}

footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

footer .logos .logocia img {
  width: 150px;
  border-radius: 50%;
}

.logocia {
  width: 300px;
}

footer .logos .midias a {
  color: #f9f9f9;
  font-size: 2.5rem;
  margin-inline: 20px;
  transition: ease-in-out 0.5s;
}

footer .logos .midias a:hover {
  transform: scale(1.2);
}

footer .logos .midias {
  display: flex;
  width: 300px;
  justify-content: center;
}

footer .logos .realizadores {
  margin-top: 0px;
  width: 250px;
}

.realizadores {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-top: 50px;
  text-transform: uppercase;
}

.realizadores img {
  width: 120px;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

footer p {
  font-size: 1rem;
  text-align: center;
  margin-top: 40px;
  color: #c5c2c2;
}

footer p a {
  color: #f9f9f9;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  transition: ease-in-out 1s;
}

footer p a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------ AJUSTES PARA O RESPONSIVO */

@media (min-width: 600px) and (max-width: 800px) {
  /* Ajusta o menu colapsado */
  .navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler {
    position: relative;
    z-index: 1100;
  }

  /* Alinhar os links centralizados */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    margin: 0.5rem 0;
  }

  .navbar-nav .nav-link:hover {
    color: #ffcc00;
  }

  .navbar-nav .nav-link.active {
    color: white !important;
  }

  /* Corrigir o z-index do menu */
  .navbar-collapse {
    position: relative;
    z-index: 1050;
    padding: 0;
    margin: 0;
  }

  /* Adicionar um background para o menu dropdown */
  .navbar-collapse {
    background-color: white;
  }

  .nav-link {
    text-align: center;
  }

  .cards {
    display: block !important;
    flex-direction: column !important;
    margin: 0 auto;
  }

  .cards-item {
    margin: 0 auto;
  }

  .width-img {
    width: 100% !important;
  }

  footer {
    height: 350px;
  }
}

@media (max-width: 600px) {
  /* AJUSTANDO OS BUTÕES DE MARCAÇÃO DO CAROUSEL PARA MOBILE */
  .carousel-indicators {
    bottom: -40px; /* mais afastado da imagem */
  }

  /* Ajusta o menu colapsado */
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler {
    position: relative;
    z-index: 1100;
  }

  /* Alinhar os links centralizados */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    margin: 0.5rem 0;
    color: white;
  }

  .navbar-nav .nav-link:hover {
    color: #ffcc00;
  }

  .navbar-nav .nav-link.active {
    color: white !important;
  }

  /* Corrigir o z-index do menu */
  .navbar-collapse {
    position: relative;
    z-index: 1050;
    padding: 0;
    margin: 0;
  }

  /* Adicionar um background para o menu dropdown */
  .navbar-collapse {
    background-color: white;
  }

  /* Garantir alinhamento correto do menu */
  .nav-link {
    text-align: center;
  }

  .cards {
    display: block !important;
    flex-direction: column !important;
    margin: 0 auto;
  }

  .cards-item {
    margin: 0 auto;
  }

  .width-img {
    width: 100% !important;
  }

  .descktop {
    display: none;
  }

  .primeira-pagina .mobile {
    display: block;
    margin-top: 0;
    padding-top: 50px;
  }

  #galeria {
    padding-top: 80px;
  }

  #primeira-sessao {
    padding-top: 80px;
  }

  #segunda-sessao {
    padding-top: 80px;
  }

  .realizadores p {
    font-size: 0.8rem;
  }

  .segunda-pagina {
    margin-bottom: 100px;
  }

  .segunda-pagina p {
    font-size: 1.1rem;
  }

  .segunda-pagina p span {
    font-size: 1.1rem;
  }

  .sequencia p {
    font-size: 0.9rem;
  }

  footer {
    height: 300px;
  }

  footer .logos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .logos .logocia img {
    width: 60px;
    border-radius: 0;
  }

  .logocia {
    text-align: center;
    margin-bottom: 20px;
  }

  footer .logos .midias a {
    font-size: 1.5rem;
    margin-inline: 10px;
  }

  hr {
    margin-top: 15px;
  }

  footer .logos .midias {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  footer .logos .realizadores {
    margin-top: 0px;
    width: 200px;
  }

  footer .logos .realizadores img {
    width: 80px;
    margin-top: 0px;
  }

  hr {
    margin-bottom: 0px;
  }

  footer p {
    font-size: 0.7rem;
    margin-top: 15px;
  }

  footer p a {
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
    transition: ease-in-out 1s;
  }

  footer p a:hover {
    text-decoration: underline;
  }
}

/* ----------------------------------------- RESPONSIVIDADE PARA DISPOSITIVOS COM LARGURA DE 300PX E ALTURA DE 568PX  */

@media (min-width: 300px) and (max-width: 568px) {
  /* Corrigir o z-index do menu */
  /* Estilo do menu quando expande */
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  /* Certificando-se que o botão de hambúrguer funcione */
  .navbar-toggler {
    z-index: 1060;
  }

  .navbar-nav .nav-link {
    margin: 0.5rem 0;
    color: white;
  }

  .navbar-nav .nav-link:hover {
    color: #ffcc00;
  }

  .navbar-nav .nav-link.active {
    color: white !important;
  }

  /* Garantir alinhamento correto do menu */
  .nav-link {
    text-align: center;
  }

  .mobile-bg {
    background-attachment: scroll !important;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .cards {
    display: block !important;
    flex-direction: column !important;
    margin: 0 auto;
  }

  .cards-item {
    margin: 0 auto;
  }

  .width-img {
    width: 100% !important;
  }

  .segunda-pagina {
    height: 80vh;
  }

  .segunda-pagina > h3 {
    font-size: 2rem;
  }

  .segunda-pagina p {
    font-size: 0.9rem;
    color: #c5c2c2;
  }

  .segunda-pagina p span {
    font-size: 0.9rem;
  }

  .sequencia p {
    font-size: 0.9rem;
  }

  .indicador-scroll {
    display: block;
  }
}
