*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideLeft {
    to {
      left: 0; /* move para a posição superior 0 (dentro do contêiner) */
    }
  }

  @keyframes sliderBlur{
    to {
      filter: blur(0); /* move para a posição superior 0 (dentro do contêiner) */
    }
  }

body {
    background: linear-gradient(0deg, rgba(2,0,36,0.9501050420168067) 0%, rgba(34,11,54,1) 51%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    position: relative;

}

@media (min-width: 300px) and (max-width: 600px) {

    .primeira-pagina{
        height: 100vh;
    }

    .primeira-pagina img {
        width: 100%;
        height: 90vh;
        margin-top: 50px;
        position: relative;
        animation:  sliderBlur 3s forwards;
        filter: blur(15px);
    }



    .segunda-pagina {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: -50px;
        animation:  slideLeft 1s forwards;
        transition: ease-in-out 1s;
        width: 80%;
        margin: 0 auto;
    }

   
    .segunda-pagina > h3 {
        color: #f8f8f8;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 30px;
    }

    .segunda-pagina p {
        font-size: 1.1rem;
        color: #c5c2c2;
    }

    .segunda-pagina p span {
        font-weight: bold;
        font-size: 1.1rem;
        color: #f9f9f9;
    }

    .terceira-pagina {
        height: 100%;
    }

    .sequencia  {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

    }

    .terceira-pagina .sequencia h5 {
        color: #f9f9f9;
        font-size: 1.4rem;
    }

    .sequencia p {
        color: #c5c2c2;
        font-size: .9rem;
    }

    .detalhes {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    
    
    details {
     padding-left: 20px;
     border-radius: 5px;
     background-color: #9ca0a0c1;
     width: 90%;
     border-radius: 10px;
     border: 1px solid black;
     margin: 0 auto;
    }

    details summary {
        font-size: 1.5rem;
        color: #f8f8f8;
    }

    details summary::-webkit-details-marker {
       display: none;
    }
    
    details img {
        margin-top: 10px;
        padding-bottom: 5px;
        border-radius: 10px;
        width: 90%;
    }

    .release {
        color: #f8f8f8;
        font-family:'Times New Roman', Times, serif;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-align: justify;
        width: 90%;
    }

    .ficha-tec-coreo {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

